api/src/main/resources/api.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
           jaxb:version="2.1" jaxb:extensionBindingPrefixes="xjc">

  <xs:annotation>
    <xs:appinfo>
      <jaxb:globalBindings generateIsSetMethod="true"/>
    </xs:appinfo>
  </xs:annotation>

  <!-- Links -->

  <xs:element name="link" type="Link"/>

  <xs:complexType name="Link">
    <xs:sequence/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="rel" type="xs:string"/>
  </xs:complexType>

  <!-- Faults -->

  <xs:element name="fault" type="Fault"/>

  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element name="reason" type="xs:string"/>
      <xs:element name="detail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Actions -->

  <xs:complexType name="GracePeriod">
    <xs:sequence>
      <xs:element name="expiry" type="xs:long"/>
      <xs:element name="absolute" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:group name="ActionParameterGroup">
    <xs:sequence>
      <xs:element name="grace_period" type="GracePeriod" minOccurs="0"/>
      <!-- for StorageDomain initialize/teardown actions -->
      <xs:element name="host" type="Host" minOccurs="0"/>
      <!-- ... etc., explicitly enumerate all the parameter types -->
    </xs:sequence>
  </xs:group>

  <!-- Represents a potentially asynchronous operation -->
  <!-- Use an anonymous complex type as opposed to an instance of a defined
       type, to force JAXB to decorate generated class with @XmlRootElement -->
  <xs:element name="action">
    <xs:complexType>
      <xs:sequence>
       <!-- The following are used by the client
            when initiating an operation -->
          <xs:element name="async" type="xs:boolean" minOccurs="0"/>
          <!-- action-specific parameter(s) for the operation (if required) -->
          <xs:group ref="ActionParameterGroup"/>

        <!-- The following, and the href/id attributes are used by the
             server when responding to an operation or status query -->
          <xs:element name="status" type="Status" minOccurs="0"/>
          <!-- Link to original action (rel="replay") -->
          <xs:element ref="link" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="href" type="xs:string"/>
      <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDING"/>
      <xs:enumeration value="IN_PROGRESS"/>
      <xs:enumeration value="COMPLETE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Actions">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="Links"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element ref="link" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Enums -->

  <xs:simpleType name="StorageDomainType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DATA"/>
      <xs:enumeration value="ISO"/>
      <xs:enumeration value="EXPORT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="StorageDomainStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="INACTIVE"/>
      <xs:enumeration value="LOCKED"/>
      <xs:enumeration value="MIXED"/>
      <xs:enumeration value="UNATTACHED"/>
      <xs:enumeration value="UNINITIALIZED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="StorageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ISCSI"/>
      <xs:enumeration value="FCP"/>
      <xs:enumeration value="NFS"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- CPUs -->

  <xs:element name="cpu" type="CPU"/>

  <xs:element name="cpus" type="CPUs"/>

  <xs:complexType name="CPU">
    <xs:sequence>
      <xs:element name="level" type="xs:int" minOccurs="0"/>
      <xs:element name="flags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:annotation>
              <xs:appinfo>
                <jaxb:property name="Flags"/>
              </xs:appinfo>
            </xs:annotation>
            <xs:element name="flag" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="CPUs">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="CPUs"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element ref="cpu" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Common to all resources -->

  <xs:complexType name="BaseResource">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="actions" type="Actions" minOccurs="0"/>
      <!-- link relation types may be defined by specific resources -->
      <xs:element ref="link" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Links"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <!-- Attachments, representing a Storage Domain attached to a Data Center -->

  <xs:element name="attachment" type="Attachment"/>

  <xs:element name="attachments" type="Attachments"/>

  <xs:complexType name="Attachment">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element name="data_center" type="DataCenter"/>
          <xs:element name="storage_domain" type="StorageDomain" minOccurs="0"/>
          <xs:element name="status" type="StorageDomainStatus" minOccurs="0"/>
          <xs:element name="master" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Attachments">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="Attachments"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element ref="attachment" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Data Centers -->

  <xs:element name="data_center" type="DataCenter"/>

  <xs:element name="data_centers" type="DataCenters"/>

  <xs:complexType name="DataCenter">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element name="storage_type" type="StorageType" minOccurs="0"/>
          <xs:element name="attachments" type="Attachments" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DataCenters">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="DataCenters"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element ref="data_center" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Clusters -->

  <xs:element name="cluster" type="Cluster"/>

  <xs:element name="clusters" type="Clusters"/>

  <xs:complexType name="Cluster">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element ref="cpu" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="data_center" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Clusters">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="Clusters"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element ref="cluster" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Hosts -->

  <xs:element name="host" type="Host"/>

  <xs:element name="hosts" type="Hosts"/>

  <xs:complexType name="Host">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element name="address" type="xs:string" minOccurs="0"/>
          <xs:element name="root_password" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Hosts">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="Hosts"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element ref="host" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Storage Domains -->

  <xs:element name="storage_domain" type="StorageDomain"/>

  <xs:element name="storage_domains" type="StorageDomains"/>

  <xs:group name="NfsStorage">
    <xs:sequence>
      <xs:element name="host" type="xs:string"/>
      <xs:element name="path" type="xs:string"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="IscsiStorage">
    <xs:sequence>
      <xs:element name="LUN" type="xs:int"/>
      <xs:element name="IP" type="xs:string"/>
      <xs:element name="port" type="xs:short"/>
    </xs:sequence>
  </xs:group>

  <xs:complexType name="Storage">
    <xs:sequence>
      <xs:element name="type" type="StorageType" minOccurs="1" maxOccurs="1"/>
      <xs:choice>
        <xs:group ref="NfsStorage"/>
        <xs:group ref="IscsiStorage"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StorageDomain">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element name="type" type="StorageDomainType" minOccurs="0"/>
          <xs:element name="status" type="StorageDomainStatus" minOccurs="0"/>
          <xs:element name="master" type="xs:boolean" minOccurs="0"/>
          <xs:element name="storage" type="Storage"/>
          <!-- also a rel="attachments" link, see Attachments above -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StorageDomains">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="StorageDomains"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element ref="storage_domain" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Virtual Machines -->

  <xs:element name="vms" type="VMs"/>

  <xs:element name="vm">
    <xs:annotation>
      <xs:appinfo>
         <jaxb:class name="VM"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BaseResource">
          <xs:sequence>
            <xs:element ref="cluster" minOccurs="0" maxOccurs="1"/>
            <xs:element name="template_id" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="VMs">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="VMs"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element ref="vm" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
